---
import { useTranslations } from "@/i18n";
import { relativeTime } from "@/utils/relativeTime";

type Props = {
  class?: string;
  size?: "sm" | "lg";
  pubDatetime: string | Date;
  timezone?: string;
  modDatetime?: string | Date | null;
};

const {
  pubDatetime,
  modDatetime,
  size = "sm",
  class: className = "",
} = Astro.props;

const t = useTranslations(Astro.currentLocale);

const isModified = modDatetime && modDatetime > pubDatetime;
const dateValue = isModified ? modDatetime : pubDatetime;
const date = relativeTime(dateValue, t.relativeTime);
const isoDate = new Date(dateValue).toISOString();
---

<div
  class:list={["text-muted-foreground flex items-center gap-x-2", className]}
>
  <!-- <IconCalendar
    class:list={[
      "inline-block size-6 min-w-5.5",
      { "scale-90": size === "sm" },
    ]}
  /> -->
  {
    isModified && (
      <span class:list={["text-xs", { "sm:text-xs": size === "lg" }]}>
        {t.post.updatedAt}:
      </span>
    )
  }
  <time
    class:list={["text-xs", { "sm:text-xs": size === "lg" }]}
    datetime={isoDate}
  >
    {date}
  </time>
</div>
